%table
	- unless item.links.nil? || item.links.empty?
		- item.clustered_links.each do |hoster,links|
			%tr
				%th
					%form{:action => 'http://127.0.0.1:9666/flash/add', :target => "hidden", :method => "POST", :style => "margin: 0px; margin-left: 8px; display: inline-block;"}
						-#
							%input{:type => 'hidden', :name => 'passwords', :value => 'myPassword'}
							%input{:type => 'hidden', :name => 'source', 		:value => 'http://jdownloader.org/spielwiese'}
						%input{:type => 'hidden', :name => 'urls', 			:value => "#{links.join("\r\n")}"}
						%input{:type => 'submit', :name => 'submit', 		:value => "add #{links.count} #{hoster} - links to jdownloader"}
			%tr
				%td
					- links.each do |link|
						= link_to link, link
