- classes = []
- classes = ["label","label-warning"] unless title_dir_match
%span{:class => classes}
	= link_to mediapath.topdirectory, mediapath_path(mediapath), :rel => "tooltip", :title => mediapath.strPath