#navigation {
	.navbar {
		margin-bottom: 0;
	}
}

#maincontent {
	.container-fluid {
		padding: 0px;
		margin: 0px;
	}
}



.navbar-search input.search-query {
	background-color: #626262;
	color: #ccc;
  &:hover, &:focus, &.focused {
    background-color: white;
    color: black;
  }
}

.navbar-search .input-prepend .add-on, .navbar-search .input-append .add-on {
	color: #fff;
	background-color: #626262;
}

.nowrap {
	white-space: nowrap;
}


table#tablegrid_movies {
	margin: 2%;
	width: 96%;
	td.index  { width: 1%; }
	td.cover  { width: 10%; }
	td.fanart { width: 24%; }
	td.movie  { width: 80%; }


	td.movie {
		.videocodec,
		.audiocodec,
		.videoresolution,
		.audiochannels,
		.audiolanguage,
		.subtitlelanguage,
		.aspectratio {
			display: inline-block;
			background-color: black;
			height: 2em;
			text-indent: 0;
			img {height: 100%;}
		}
	}
	
	td.cover,	td.fanart {
		img {
			width: 100%;
		}
	}
	
}




.modal.fade.in {
	top: 35%;
  left: 25%;
  width: 80%;
	height: 75%;
	.modal-header, .modal-body {
		height: 95%;
		max-height: 95%;
	}
}

.moviecover {
	background-color: black;
}

.fanartbackground {
	position: absolute; 
	z-index: -999999;
	height: 100%;
	width: 100%;
	.fanart {
		height: 100%;
		width: 100%;
	}
}

.movieoverview {
	margin: 0;
	color: white;
	.head {
		padding-top: 30px;
		border-bottom: 2px solid white;	
		padding-bottom: 30px;
		margin-bottom: 30px;
		.techinfos {
			width: 10%;
			margin-right: 30px;
			float: right;
			align: right;
			text-align: right;
			.videocodec,
			.audiocodec,
			.videoresolution,
			.audiochannels,
			.audiolanguage,
			.subtitlelanguage,
			.aspectratio {
				height: 2em;
				margin: 2px;
				background-color: black;
				float: left;
				img {height: 100%;}
			}
		}
	}
	.localtitle, .year, .originaltitle, .plotcontent {
		padding: 4px;
		display: inline-block;
		background: black;
	}
	.moviecover {
		display: inline-block;
	}
}



.modal-header {
	border-bottom: 0px;	
}

.accordion-inner {
	overflow: hidden;
}

img.spinner {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 32px;
}

ul, ol {
  padding: 0;
  margin: 0px;
}

ul.movie {
  margin-left: 2em;
  text-indent: -0.6em;
	li {
		display: block;
	}
}

ul.entrant_other {
  margin-left: 2em;
  text-indent: -0.6em;
	li {
		display: block;
	}
}


ul.files {
	display: inline;
	margin-left: 0em;
	text-indent: 0em;
	li {
		display: inline-block;
	}
}


//img.remote {
//	border-style: dashed;
//	border-width: 1px;
//	border-color: white;
//}




// center login-button
#loginbutton {
	margin-top: 15px;
	margin-left: 55px;
	width: 110px;
}

// center login-dialog
.form_user_session {
	margin-top: 15%;
	margin-left: auto;
  margin-right: auto;
	width: 350px;
}



.audiolanguage,
.subtitlelanguage {
	vertical-align: middle;
	span {
		line-height: 2.3em;
		margin-left: 6px;
		margin-right: 4px;
	}
}